[submodule "pmdk"]
	path = pmdk
	url = git@github.com:pmem/pmdk.git
[submodule "libpmemobj-cpp"]
	path = libpmemobj-cpp
	url = git@github.com:pmem/libpmemobj-cpp.git
[submodule "depends/valgrind"]
	path = depends/valgrind
	url = https://github.com/pmem/valgrind.git
